@font-face {
  font-family: 'SeoulNamsan-CL';
  src:url('../assets/fonts/SeoulNamsan-CL.ttf.woff') format('woff'),
      url('../assets/fonts/SeoulNamsan-CL.ttf.svg#SeoulNamsan-CL') format('svg'),
      url('../assets/fonts/SeoulNamsan-CL.ttf.eot'),
      url('../assets/fonts/SeoulNamsan-CL.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Averia Sans Libre';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/averia-sans-libre-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/averia-sans-libre-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/averia-sans-libre-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/averia-sans-libre-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/averia-sans-libre-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/averia-sans-libre-v9-latin-regular.svg#AveriaSansLibre') format('svg'); /* Legacy iOS */
}

$bgColor: #FFFAE8;
$textColor: #000000;
$secondTextColor: #C57B3C;

html, body {
  padding: 0px;
  margin: 0px;
  background-color: rgb(188, 188, 255);
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-family: 'Averia Sans Libre';
  color: $textColor;
}

#app {
  width: 100%;
  height: 100%;
  .home {
    position: absolute;
    z-index: 999999;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $bgColor;
    p {
      font-family: 'SeoulNamsan-CL';
      position: absolute;
      margin: 0;
      top: 1rem;
      left: 1rem;
      font-weight: 300;
      font-size: 36px;
      display: flex;
      align-items: center;
      img {
        width: 40px;
        margin-left: 1rem;
      }
    }
    h1 {
      pointer-events: none;
      text-align: center;
      font-size: 64px;
      font-weight: 300;
      span {
        font-weight: 400;
        color: $secondTextColor;
      }
    }
    #setupApp {
      text-align: center;
      .wrapInput {
        width: 100%;
        position: relative;
        border-bottom: 2px solid $textColor;
        margin: 2rem 0 1rem 0;
        .input {
          display: block;
          width: 700px;
          margin-bottom: .5rem;
          text-align: center;
          font-size: 62px;
          font-weight: 400;
          padding: 0;
          background-color: transparent;
          color: $secondTextColor;
          border: none;
          outline: 0;
          font-family: 'Averia Sans Libre';
        }
        .animationBorder {
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          pointer-events: none;
        }
        .animationBorder::before {
          content: "";
          display: block;
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 0;
          height: 2px;
          transition: all 0.4s;
          background: linear-gradient(45deg, #FFA45B, #B65B11);
        }
        .animationBorder::after {
          display: block;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          transition: all 0.4s;
        }
        .input:focus + .animationBorder::before {
          width: 100%;
        }
      }
      .wrapSubmit {
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
        justify-content: center;
        .btnSubmit {
          margin: auto;
          outline: 0;
          border: 0;
          background-color: transparent;
          cursor: pointer;
        }
        .missName {
          margin-top: 1rem;
        }
      }
    }
  }
  .canvas {
    position: relative;
    .overlay {
      width: 80%;
      margin: auto;
      .jour-nuit {
        position: absolute;
        z-index: 1;
        width: 45px;
        height: 100px;
        width: 50px;
        height: 115px;
        border-radius: 0 0 25px 25px;
        background-color: rgba($color: $secondTextColor, $alpha: 0.75);
        display: flex;
        justify-content: center;
        align-items: flex-end;
        img {
          margin-bottom: 1rem;
          cursor: pointer;
          border: none;
          outline: none;
          background-color: transparent;
          width: 80%;
        }
        .jour {
          display: block;
        }
        .nuit {
          display: none;
        }
      }
      .namePlant {
        display: flex;
        justify-content: center;
        .displayName {
          position: absolute;
          z-index: 1;
          font-size: 52px;
          font-weight: 400;
          color: $secondTextColor;
        }
        .needsPlant {
          display: none;
          margin: auto;
          position: absolute;
          top: 10rem;
          right: 3rem;
          z-index: 1;
          margin: 1.5rem;
          padding: 1rem;
          width: 250px;
          height: 150px;
          border-radius: 100%;
          box-sizing: border-box;
          text-align: center;
          font-size: 1.5rem;
          background-color: antiquewhite;
          p {
            margin: 18%;
          }
        }
      }
      .menu {
        width: 80%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        z-index: 1;
        bottom: 50px;
        .menuLeft {
          display: flex;
        }
        button {
          border-radius: 18px;
          width: 100px;
          height: 100px;
          background-color: #FFA45B;
          margin-right: 2rem;
          border: none;
          cursor: pointer;
          outline: 0;
          img {
            width: 100%;
          }
        }
      }
    }
    .overlayPopUp {
      display: none;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.7);
    }
    .popUp {
      display: none;
      background-color: $bgColor;
      border-radius: 10%;
      border: 2px solid $textColor;
      width: 600px;
      height: 500px;
      display: none;
      position: absolute;
      left: 50%;
      top: 50%;
      transform:translate(-50%, -50%);
      z-index: 1;

      .settingsPlant {
        margin: 3rem 4rem;
        .displayName {
          font-size: 1.5rem;
          margin: 0;
          text-align: center;
        }
        h2 {
          margin: 0;
        }
        #potStyle {
          display: flex;
          flex-direction: column;
          .potColor {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            margin: 1rem;
            .choice {
              position: relative;
              flex: 1;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .color-1, .color-2, .color-3 {
              border-radius: 10px;
              width: 50px;
              height: 50px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .color-1 {
              background-color: #da5454;
            }
            .color-2 {
              background-color: #B65B11;
            }
            .color-3 {
              background-color: #FFA45B;
            }
            #color-1:checked ~ .color-1 {
              border: 2px solid $secondTextColor;
            }
            #color-2:checked ~ .color-2 {
              border: 2px solid $secondTextColor;
            }
            #color-3:checked ~ .color-3 {
              border: 2px solid $secondTextColor;
            }
          }
          .potStyle {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 1rem;
            .choice {
              position: relative;
              flex: 1;
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                padding: 1rem;
              }
            }
            .pot-1, .pot-2, .pot-3 {
              border-radius: 10px;
              width: 125px;
              height: 125px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            #pot-1:checked ~ .pot-1 {
              border: 2px solid $secondTextColor;
            }
            #pot-2:checked ~ .pot-2 {
              border: 2px solid $secondTextColor;
            }
            #pot-3:checked ~ .pot-3 {
              border: 2px solid $secondTextColor;
            }
          }
          label {
            cursor: pointer;
            outline: none;
          }
          .visually-hidden {
            position: absolute;
            left: -100vw;
          }
          .submitSettings {
            background-color: #FFA45B;
            color: white;
            border: none;
            outline: 0;
            font-size: 18px;
            border-radius: 18px;
            padding: 1rem 2rem;
            width: 35%;
            margin: 1rem auto 0 auto;
            font-family: 'SeoulNamsan-CL';
          }
        }
      }
    }
    canvas {
      display: none;
    }
  }
}


@media screen and (max-width: 800px) {
  #app {
    .home {
      padding: 2rem;
      width: auto;
      p {
        font-size: 22px;
        top: 2rem;
        left: 2rem;
        img {
          margin-left: .5rem;
        }
      }
      h1 {
        font-size: 36px;
      }
      #setupApp .wrapInput .input {
        font-size: 26px;
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  #app {
    .home {
      width: 100%;
    }
  }
}
