@font-face {
  font-family: 'SeoulNamsan-CL';
  src: url('../assets/fonts/SeoulNamsan-CL.ttf.woff') format('woff'),
    url('../assets/fonts/SeoulNamsan-CL.ttf.svg#SeoulNamsan-CL') format('svg'),
    url('../assets/fonts/SeoulNamsan-CL.ttf.eot'),
    url('../assets/fonts/SeoulNamsan-CL.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Averia Sans Libre';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/averia-sans-libre-v9-latin-regular.eot');
  src: local(''),
    url('../assets/fonts/averia-sans-libre-v9-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/averia-sans-libre-v9-latin-regular.woff2') format('woff2'),
    url('../assets/fonts/averia-sans-libre-v9-latin-regular.woff') format('woff'),
    url('../assets/fonts/averia-sans-libre-v9-latin-regular.ttf') format('truetype'),
    url('../assets/fonts/averia-sans-libre-v9-latin-regular.svg#AveriaSansLibre') format('svg');
}

$bgColor: #FFFAE8;
$color1: #000000;
$color2: #C57B3C;
$color3: #FFA45B;

html,
body {
  position: relative;
  background-color: $bgColor;
  color: $color1;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Averia Sans Libre';
}

#app {
  width: 100%;
  height: 100%;

  #home {
    position: absolute;
    background-color: $bgColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;

    .instructions {
      position: absolute;
      margin: 0;
      top: 15px;
      left: 15px;
      display: flex;
      align-items: center;
      font-family: 'SeoulNamsan-CL';
      font-size: 36px;
      font-weight: 300;

      img {
        width: 40px;
        margin-left: 15px;
      }
    }

    h1 {
      pointer-events: none;
      text-align: center;
      font-size: 64px;
      font-weight: 300;

      span {
        font-weight: 400;
        color: $color2;
      }
    }

    #setupApp {
      text-align: center;

      #wrapInput {
        width: 100%;
        position: relative;
        border-bottom: 2px solid $color1;
        margin: 2rem 0 1rem 0;

        .input {
          display: block;
          width: 700px;
          margin-bottom: .5rem;
          text-align: center;
          font-size: 62px;
          font-weight: 400;
          padding: 0;
          background-color: transparent;
          color: $color2;
          border: none;
          outline: 0;
          font-family: 'Averia Sans Libre';
        }

        .animationBorder {
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          pointer-events: none;
        }

        .animationBorder::before {
          content: "";
          display: block;
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 0;
          height: 2px;
          transition: all 0.4s;
          background: linear-gradient(45deg, $color3, $color2);
        }

        .animationBorder::after {
          display: block;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          transition: all 0.4s;
        }

        .input:focus+.animationBorder::before {
          width: 100%;
        }
      }

      #wrapSubmit {
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
        justify-content: center;

        .seed {
          display: flex;
          flex-direction: row;

          .btnSubmit {
            margin: auto;
            outline: 0;
            border: 0;
            background-color: transparent;
            cursor: pointer;
            transition: transform .8s ease-in;
          }

          .btnSubmit:hover {
            transform: rotate(360deg);
          }

          img {
            width: 100%;
          }
        }

        .missName {
          margin-top: 1rem;
        }
      }
    }
  }

  #canvas {
    position: relative;
    display: none;

    #overlay {
      width: 80%;
      margin: auto;

      #menuInfosGame {
        position: absolute;

        >div {
          width: 50px;
          height: 115px;
          display: inline-flex;
          justify-content: center;
          align-items: flex-end;

          img {
            margin-bottom: 10px;
            border: none;
            outline: none;
            background-color: transparent;
            width: 80%;
          }
        }

        #infosDayNight {
          border-radius: 0 0 25px 25px;
          background-color: rgba($color: $color2, $alpha: 0.75);

          #infosDay {
            display: block;
          }

          #infosNight {
            display: none;
          }
        }

        #sound {
          margin-left: 4px;

          img {
            cursor: pointer;
          }

          #speakerStop {
            display: none;
          }
        }

      }

      #infosPlant {

        #displayName {
          position: absolute;
          font-size: 52px;
          font-weight: 400;
          color: $color2;
          width: 100%;
          text-align: center;
          left: 0;
          margin: 20px 0 0 0;
        }

        #needsPlant {
          display: block;
          position: absolute;
          top: 20vh;
          right: 20vw;
          width: 230px;
          padding: 10px;

          #bubbleImage {
            width: 100%;
          }

          #needsImage {
            position: absolute;
            left: 55px;
            width: 40%;
            margin: 25px;
          }
        }

        #menuBars {
          color: #FCFCFC;
          position: absolute;
          right: 20px;
          top: 20px;
          text-align: right;

          >.bar {
            margin-bottom: 10px;

            .imgBar {
              width: 30px;
              vertical-align: middle;
              margin: 0 3px;
            }

            .meter {
              display: inline-block;
              vertical-align: middle;
              width: 200px;
              background-color: #FCFCFC;
              padding: 3px;
              border-radius: 5px;

              &#barGrowth {
                width: 300px;

                span {
                  height: 15px;
                }
              }

              span {
                display: block;
                height: 22px;
                background-color: #5bffa4;
                border-radius: 5px;
                transition: width 500ms ease-in-out;

                &.danger {
                  background-color: $color3;
                }

                &.danger {
                  background-color: $color3;
                }
              }
            }
          }
        }
      }

      #menuButtons {
        width: 80%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 50px;

        button {
          border-radius: 18px;
          width: 100px;
          height: 100px;
          background-color: $color3;
          margin-right: 2rem;
          border: none;
          cursor: pointer;
          transition: all .3s ease;
          outline: 0;

          img {
            width: 100%;
          }

          &:hover {
            background-color: $color2 !important;
          }
        }

        #menuButtonsActions {
          display: flex;
        }

        #popUpSettings {
          margin-right: 0;
        }
      }
    }

    #overlayPopUp {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.7);
    }

    #popUp {
      width: 85%;
      max-width: 500px;
      display: none;
      background-color: $bgColor;
      border-radius: 25px;
      border: 2px solid $color2;
      display: none;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      padding: 25px;
      z-index: 1;

      #changeName {
        display: block;
        margin: auto;
        padding: 0;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid #B65B11;
        outline: 0;
        color: $color2;
        font-family: 'Averia Sans Libre';
        font-size: 36px;
        text-align: center;
      }

      p {
        margin: 0 10px;
      }

      #potSettings {
        display: flex;
        flex-direction: column;
        margin: 20px 0;

        .potSetting {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          margin: 15px 0;

          .choice {
            margin: 0 5px;

            input {
              visibility: hidden;
              position: absolute;
            }

            input:checked~label {
              border: 2px solid $color2;
            }

            label {
              cursor: pointer;
              outline: none;
              border-radius: 10px;
              width: 100px;
              height: 100px;
              display: flex;
              align-items: center;
              justify-content: center;
              box-sizing: border-box;

              div,
              img {
                border-radius: 10px;
                width: 75px;
                height: 75px;
              }

              #colored1 {
                background-color: #DA5454;
              }

              #colored2 {
                background-color: #B65B11;
              }

              #colored3 {
                background-color: #FFA45B;
              }
            }
          }
        }

        #submitSettings {
          background-color: $color3;
          color: #FFFFFF;
          border: none;
          outline: 0;
          font-size: 18px;
          border-radius: 18px;
          padding: 15px 25px;
          width: 150px;
          margin: 15px auto 0 auto;
          font-family: 'Averia Sans Libre';
          line-height: 20px;
          cursor: pointer;
          transition: all .3s ease;

          &:hover {
            background-color: $color2;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #app {
    #home {
      .instructions {
        font-size: 22px;
        top: 8px;
        left: 8px;

        img {
          margin-left: 8px;
        }
      }

      h1 {
        font-size: 36px;
      }

      #setupApp #wrapInput .input {
        font-size: 26px;
        width: 100%;
      }
    }

    #canvas {
      #overlay {
        #menuButtons {
          button {
            width: 80px;
            height: 80px;
          }
        }
      }

      #popUp {
        padding: 20px;
      }
    }
  }
}