@font-face {
  font-family: 'SeoulNamsan-CL';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SeoulNamsan-CL.ttf.woff') format('woff'),
    url('../assets/fonts/SeoulNamsan-CL.ttf.svg#SeoulNamsan-CL') format('svg'),
    url('../assets/fonts/SeoulNamsan-CL.ttf.eot'),
    url('../assets/fonts/SeoulNamsan-CL.ttf.eot?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'Averia Sans Libre';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/averia-sans-libre-v9-latin-regular.eot');
  src: local(''),
    url('../assets/fonts/averia-sans-libre-v9-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/averia-sans-libre-v9-latin-regular.woff2') format('woff2'),
    url('../assets/fonts/averia-sans-libre-v9-latin-regular.woff') format('woff'),
    url('../assets/fonts/averia-sans-libre-v9-latin-regular.ttf') format('truetype'),
    url('../assets/fonts/averia-sans-libre-v9-latin-regular.svg#AveriaSansLibre') format('svg');
}

$bgColor: #FFFAE8;
$color1: #000000;
$color2: #C57B3C;
$color3: #FFA45B;

html,
body {
  position: relative;
  background-color: $bgColor;
  color: $color1;
  overflow: hidden;
  font-family: 'Averia Sans Libre';
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;

  #home {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: $bgColor;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 30px;
    height: auto;

    .instructions {
      display: flex;
      align-items: center;
      position: absolute;
      font-family: 'SeoulNamsan-CL';
      font-size: 28px;
      font-weight: 300;
      top: 0;
      left: 0;
      margin: 0;
      
      img {
        position: absolute;
        right: -52px;
        width: 45px;
      }
    }

    h1 {
      pointer-events: none;
      text-align: center;
      font-size: 58px;
      font-weight: 300;

      span {
        color: $color2;
        font-weight: 400;
      }
    }

    #setupApp {
      text-align: center;

      #wrapInput {
        position: relative;
        border-bottom: 2px solid $color1;
        margin: 20px 0 10px 0;
        width: 100%;

        #chooseNamePlant {
          display: block;
          background-color: transparent;
          border: none;
          color: $color2;
          font-family: 'Averia Sans Libre';
          font-size: 48px;
          font-weight: 400;
          outline: 0;
          text-align: center;
          margin-bottom: 8px;
          padding: 0;
          width: 700px;
        }

        .animationBorder {
          display: block;
          position: absolute;
          pointer-events: none;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          &::before {
            content: "";
            display: block;
            position: absolute;
            background: linear-gradient(45deg, $color3, $color2);
            bottom: -2px;
            left: 0;
            width: 0;
            height: 2px;
            transition: all 0.4s;
          }

          &::after {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            transition: all 0.4s;
          }
        }

        #chooseNamePlant:focus+.animationBorder::before {
          width: 100%;
        }

        #missName {
          position: absolute;
          color: $color3;
          left: 0;
          margin-top: 5px;
        }
      }

      #wrapSubmit {
        margin-top: 35px;

        .seed {
          display: flex;
          align-items: center;
          justify-content: center;

          .btnSubmit {
            outline: 0;
            background-color: transparent;
            border: 0;
            cursor: pointer;
            padding: 0 6px;
            transition: transform .8s ease-in;

            >img {
              max-width: 175px;
              width: 100%;
            }

            &.btnSubmit:hover {
              transform: rotate(360deg);
            }
          }
        }
      }
    }

    footer {
      position: fixed;
      color : $color2;
      font-size: 16px;
      right: 8px;
      bottom: 8px;
    }
  }

  #canvas {
    display: none;
    position: relative;

    #overlay {
      #menuInfosDayNight {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: absolute;
        top: 0;
        background-color: rgba($color: $color2, $alpha: 0.75);
        border-radius: 0 0 25px 25px;
        margin-left: 30px;
        width: 50px;
        height: 120px;
        
        img {
          margin-bottom: 10px;
          width: 80%;
        }

        #infosDay {
          display: block;
        }

        #infosNight {
          display: none;
        }
      }

      #infosPlant {

        #displayName {
          position: absolute;
          top: 15px;
          left: 50%;
          color: $color2;
          font-size: 52px;
          font-weight: 400;
          text-align: center;
          transform: translateX(-50%);
        }

        #needsPlant {
          display: block;
          position: absolute;
          top: 25vh;
          right: 50%;
          transform: translateX(160%);
          width: 230px;

          #bubbleImage {
            width: 100%;
          }

          #needsImage {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-40%, -53%);
            width: 50%;
          }
        }

        #menuBars {
          position: absolute;
          right: 0;
          top: 0;
          color: #FCFCFC;
          text-align: right;
          margin: 30px;

          >.bar {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-bottom: 10px;

            .imgBar {
              margin: 0 4px;
              width: 30px;
            }

            .meter {
              display: inline-block;
              background-color: #FCFCFC;
              border-radius: 5px;
              padding: 3px;
              width: 200px;
              
              &#barGrowth {
                width: 300px;

                span {
                  height: 15px;
                }
              }

              span {
                display: block;
                background-color: #5bffa4;
                border-radius: 5px;
                height: 22px;
                transition: width 500ms ease-in-out;

                &.danger {
                  background-color: $color3;
                }

                &.danger {
                  background-color: $color3;
                }
              }
            }
          }
        }
      }

      #menuButtons {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        width: 100%;

        button {
          background-color: $color3;
          border: none;
          border-radius: 18px;
          cursor: pointer;
          outline: 0;
          padding: 8px;
          margin: 30px;
          width: 100px;
          height: 100px;
          transition: all .3s ease;

          img {
            width: 100%;
          }

          &:hover, &.activated {
            background-color: $color2 !important;
          }
        }

        #menuButtonsActions {
          display: flex;

          button {
            margin-right: 0;
          }
        }
      }
    }

    .popupBg {
      display: none;
      position: absolute;
      background-color: rgba($color: #000000, $alpha: 0.7);
      width: 100%;
      height: 100%;
    }

    .popUp {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
      background-color: $bgColor;
      border: 2px solid $color2;
      border-radius: 25px;
      overflow: hidden;
      padding: 35px 25px;
      width: 85%;
      transform: translate(-50%, -50%);
      
      .btnPopUp {
        background-color: $color3;
        border: none;
        border-radius: 18px;
        color: #FFFFFF;
        cursor: pointer;
        line-height: 20px;
        font-family: 'Averia Sans Libre';
        font-size: 18px;
        outline: 0;
        margin: 15px auto 0 auto;
        padding: 15px 25px;
        width: 150px;
        transition: all .3s ease;

  
        &:hover {
          background-color: $color2;
        }
      }
    }

    #popUpSettings {
      max-width: 500px;

      #sound {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $color3;
        border-radius: 100%;
        transform: translate(-50%, -50%);
        padding: 100px 25px 30px 100px;

        > div {
          cursor: pointer;
          width: 50px;
          height: 50px;
          
          img {
            width: 100%;
            height: 100%;
          }
        }

        #speakerStop {
          display: none;
        }
      }

      #inputChangeName {
        display: block;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid $color2;
        color: $color2;
        font-family: 'Averia Sans Libre';
        font-size: 36px;
        outline: 0;
        text-align: center;
        margin: auto;
        padding: 0;
        width: 80%;
      }

      p {
        font-size: 25px;
        margin: 0 10px;
      }

      #potSettings {
        display: flex;
        flex-direction: column;
        margin-top: 30px;

        .potSetting {
          display: flex;
          align-items: center;
          flex-direction: row;
          justify-content: space-evenly;
          margin: 15px 0;

          .choice {
            margin: 0 5px;

            input {
              position: absolute;
              visibility: hidden;
            }

            input:checked~label {
              border: 2px solid $color2;
            }

            label {
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 10px;
              box-sizing: border-box;
              cursor: pointer;
              outline: none;
              width: 100px;
              height: 100px;

              >div {
                border-radius: 10px;
                width: 75%;
                height: 75%;
              }

              >img {
                width: 100%;
                height: 100%;
              }

              #colored1 {
                background-color: #DA5454;
              }

              #colored2 {
                background-color: #B65B11;
              }

              #colored3 {
                background-color: #FFA45B;
              }
            }
          }
        }
      }
    }

    #popUpEnd {
      max-width: 600px;

      p {
        font-size: 25px;
        margin: 0;

        span {
          color: $color2;
        }
      }
      
      .imgPlant {
        display: block;
        margin: 20px auto;
        width: 100px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  #app {
    #canvas {
      #overlay {
        #infosPlant {
          #displayName {
            position: absolute;
            top: 50%;
            left: 3px;
            font-size: 42px;
            transform: rotate(-90deg) translateX(-40%);
            transform-origin: top left;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #app {
    #home {
      margin: 20px;

      .instructions {
        font-size: 22px;

        img {
          right: -40px;
          width: 35px;
        }
      }

      h1 {
        font-size: 36px;
      }

      #setupApp #wrapInput #chooseNamePlant {
        font-size: 26px;
        width: 100%;
      }
    }

    #canvas {
      #overlay {
        #menuInfosDayNight {
            margin-left: 20px;
        }

        #menuButtons {
          button {
            margin: 20px;
            width: 75px;
            height: 75px;
          }
        }

        #infosPlant {
          #displayName {
            font-size: 32px;
          }

          #needsPlant {
            transform: translateX(120%);
            width: 150px;
          }

          #menuBars {
            margin: 20px;

            >.bar {
              .meter {
                &#barGrowth {
                  width: 200px;
                }
              }
            }
          }
        }
      }

      #popUpSettings {
        #inputChangeName {
          font-size: 26px;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  #app {
    #home {
      h1 {
        font-size: 30px;
      }
    }

    #canvas {
      #overlay {
        #menuInfosDayNight {
          display: none;
        }
      }

      .popUp {
        padding: 20px;
      }

      #popUpSettings {
        #potSettings {
          .potSetting {
            .choice {
              label {
                width: 70px;
                height: 70px;
              }
            }
          }
        }
      }
    }
  }
}